doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          if auth
            li: a(href="/logout") Logout
          else
            li: a(href="/login") Login
          li: a(href="/") Home
          li: a(href="/issue") Create new
    main
      div(class="wrapper")
        h1= title
        if locals.flash != undefined
          p(class= locals.flash.success)= locals.flash.message
        block issue
      div(class= "notification")
        h1= title2
        if locals.flash != undefined
          p(class= locals.flash.success)= locals.flash.message
        block notification
script(src='/socket.io/socket.io.js')
script(src="/javascripts/socket.js")